*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;

    scroll-behavior: smooth;
}


:root{
    --lightBlue: #81b0cc;
    --blue: #1a71a4;
    --blueHover: #155d83;
    --blueActive: #104866;
    --yellowWhite: #eeeee6;

}

html{
    width: 100%;
    overflow-x: hidden !important;
}

body{
    width: 100%;
    overflow-x: hidden !important;
}

button{
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

a{ 
    font-family: "Roboto", sans-serif;
    color: inherit;
    text-decoration: none;
}



/* Dividors */

.dividors{
    position: relative;
}


/* First Dividor */

.custom-shape-divider-top-1728155051 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1728155051 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 22px;
}

.custom-shape-divider-top-1728155051 .shape-fill {
    fill: #81B0CC;
}
/* Header */

header{
    width: 100%;
    height: 100px;
    background-color: var(--lightBlue);
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img{
    width: 70px;
}

.navDesktop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.navMobile{
    display: none;
}


nav a:hover{
    background-color: var(--blueHover);

}

nav a:active{
    background-color: var(--blueActive);
}

nav div a{
    text-decoration: none;
    color: white;
    background-color: var(--blue);
    padding: 10px 24px;
    border-radius: 10px;
    font-size: 1.2rem;

    transition: all 0.2s;

    font-weight: 700;
    letter-spacing: 1px;
}


.navBtn::before, .navBtn{
    display: none;
}

/* Page 1*/

.page-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 90vh;
    background-image: 
        linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
        url(Files/Images/cprEvent/cprEventPicture_1.webp)
    ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: white;

    gap: 40px;
    padding: 40px;
    padding-bottom: 50px;
}
.page-1-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.page-1-top h1{
    font-size: 3.7rem;
    text-align: center;
}
.page-1-top h2{
    font-size: 1.2rem;
    width: 60%;
    margin: 0 auto;
    text-align: center;

    font-weight: 500;
}


.heartbeatImage{
    width: 100%;
}

.page-1-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.page-1-bottom h3{
    font-size: 2.3rem;
    padding: 20px;
}


.page-1-btns{
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.page-1 button{
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;

    font-size: 1.2rem;
    color: white;
    
    border: none;
    outline: none;

    font-family: 'Roboto', sans-serif;

    padding: 15px 50px;


    font-weight: 700;

}



.page-1-btns a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

    font-size: 700;
}

.donateBtn{
    background-color: var(--blue);
}

.donateBtn:hover{
    background-color: var(--blueHover);
}

.donateBtn:active{
    background-color: var(--blueActive);
}

.aboutusBtn{
    background-color: var(--lightBlue);
}

.aboutusBtn:hover{
    background-color: var(--blue);
}
.aboutusBtn:active{
    background-color: var(--blueHover);
}




.supportedBy{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--lightBlue);
    padding-top: 10px;

    gap: 20px;
}

.supportedBy h3{
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.7);

}

.supportedByLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;

}


.supporter1, .supporter3{
    height: 90px;
    opacity: 0.5;
}
.supporter2{
    height: 60px;
    opacity: 0.5;
}


/* Page 2 */

.page-2{
    padding-top: 100px;
    background-color: var(--yellowWhite);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;

    width: 100%;
    overflow-x: hidden;
}

.page-2 h2{
    font-size: 2.2rem;
    align-self: flex-start;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.page-2-more{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;


    
    width: 100%;
    overflow-x: hidden;

    padding: 10px 20px;
}

.page-2 h3{
    font-size: 2rem;
}

.page-2-inner{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 100px;

    flex-wrap: wrap;

}


.page-2-inner-top{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    gap: 5px;
}

.sliderContainer{
    width: 600px;
    height: auto;
    aspect-ratio: 16 / 9;
    background-color: lightgray;

    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    border: 5px solid var(--blue);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    

}

.sliderContainer::-webkit-scrollbar{
    display: none;
}

.sliderContainer img{
    min-width: 100%;
    height: auto;
    object-fit: cover;

    scroll-snap-align: start;
}

.sliderButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 5px;

    bottom: 100%;
    right: 0;
}

.sliderButtons i{
    background-color: var(--blue);
    padding: 10px;
    color: white;
    border-radius: 5px;

    cursor: pointer;

    transition: all 0.2s;
}

.sliderButtons i:hover{
    background-color: var(--blueHover);
    
}

.sliderButtons i:active{
    background-color: var(--blueActive);

}

.cprDetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    gap: 30px;


}
.cprDetails img{
    width: 50px;
}
.cprDetailIndividual{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    gap: 10px;
    font-size: 1.2rem;

    font-weight: 600;

}

.page-2-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 20px;
}

.page-2-btns button{
    font-size: 1.2rem;
    background-color: none;
    outline: none;
    border: none;

    transition: all 0.2s;

    padding: 10px 20px;

    color: white;

    border-radius: 5px;
    font-weight: 700;

}


.signUpBtn{
    background-color: var(--blue);
}

.signUpBtn:hover{
    background-color: var(--blueActive);

}
.signUpBtn:active{
    background-color: var(--blueHover);
}



.moreInfoBtn{
    background-color: var(--blueHover);
}

.moreInfoBtn:hover{
    background-color: var(--blueActive);
}
.moreInfoBtn:active{
    background-color: var(--blueHover);
}






/* Page 3 */

.page-3{
    background-color: #1a71a4;
    padding: 200px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.page-3-more{
    width: 60vw;
    padding: 50px;

    background-color: white;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    color: black;

    
}

.page-3-more h2{
    font-size: 4vw;
    align-self: flex-start;
}

.page-3-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page-3-bottom img{
    width: 20vw;
    border-radius: 50%;
}

.page-3-bottom p{
    font-size: 1.8vw;
}

/* Page 4 */

.page-4{
    background-color:var(--blueHover);
    padding-bottom: 200px;
}
.page-4-container{
    width: 90%;
    margin: 0 auto;

    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    flex-wrap: wrap;
    gap: 100px;


}



.page-4 h2{
    color: white;
    border-bottom: 3px red solid;
    width: fit-content;

    font-size: 3rem;
}

.page-4-bottom{
    display: flex;
    flex-direction: row;
    gap: 50px;

    color: white;
}
.page-4-bottom-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: top;

    gap: 30px;

    padding-right: 20px;
    border-right: 2px solid rgba(255, 255, 255, 0.5);


    flex: 1;

    line-height: 2;
    letter-spacing: 0.8px;

    
}
.page-4-bottom-inner div{
    all: unset;
    width: 50px;
    height: 50px;

    background-color: white;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
    color: var(--blue);

    font-weight: 700;
}

.page-4-bottom-inner h4{
    font-size: 2rem;
    font-weight: 700;
}

.page-4-bottom-inner img{
    width: 150px;
    border-radius: 75px;
    margin: auto 0 0 0;
}


.page-4-bottom-inner p{
    font-weight: 500;
    font-size: 1.2rem;

}

/* Page 5 */

.page-5{
    width: 100vw;
    padding: 100px;

    background-color: var(--yellowWhite);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.page-5 h2{
    font-size: 3rem;
    text-align: left;
}

.page-5 h4{
    font-size: 1.5rem;
    margin: 10px 0px 50px 0px;
    text-decoration: underline;
    text-align: left;
}



.donate-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
    gap: 40px;

    overflow-x: hidden;
}







.donate-1, .donate-2{
    width: 400px;
    height: 500px;

    background-color: var(--blue);

    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}


.donate-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.donate-1-g1{
    width: 90%;
    margin: 0 auto;

    

}

.priceGoal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    color: white;
    padding-bottom: 10px;

}
.priceProgress{
    background-color: lightgray;
    width: 100%;
    height: 20px;
    border-radius: 30px;
}

.paymentFrequency{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.paymentFrequency p{
    padding: 20px;
    text-align: center;



}

.paymentFrequency .one{
    background-color: #81B0CC;

    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.paymentFrequency .two{
    background-color: #D9D9D9;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.paymentPlans{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 15px;
}
.paymentPlan{
    padding: 20px 30px;
    background-color: #D9D9D9;
    border-radius: 30px;
}

.customAmount{
    color: white;
    border-bottom: 5px solid white;

    font-size: 1.5rem;
}

.donateButton{
    background-color: #81B0CC;
    padding: 20px 50px;
    border-radius: 45px;
}




.donate-2 h1{
    color: white;
    font-size: 2rem;

    padding: 20px;
}

.donorWall{
    height: 20%;
    width: 80%;
    margin: 20px auto;

    background-color: #81B0CC;

    position: relative;

    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.donorWallPrice{
    width: 40px;
    height: 30px;
    background-color: #1A71A4;
    border-radius: 40px;

    position: absolute;
    top: 5%;
    right: 5%;
}



















/* Footer page */

footer{
    background-color: var(--lightBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 50px;

    gap: 30px;
}
.footerMain{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 95%;

    flex-wrap: wrap;
}

.footer-top{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    text-align: left;
}




.footer-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5px;

    width: 300px;
}

.formButton{
    width: 100%;
    padding: 10px 20px;

    background-color: var(--blue);
    color: white;

    outline: none;
    border: none;

    font-size: 1.2rem;

    border-radius: 5px;
}

.formButton:hover{
    background-color: var(--blueHover);
}

.formButton:active{
    background-color: var(--blueActive);
}


.formInputs{
    outline: none;
    border: none;
    padding: 10px 40px 10px 5px;
    
    width: 100%;

}

textarea{
    max-width: 100%;
    min-width: 100%;

    min-height: 100px;
    max-height: 100px;
}



.socials{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    
    flex-wrap: wrap;
}

.socialMedia{
    text-decoration: none;
    color: var(--blue);
    font-size: 3rem;
}

.joinTheTeam{
    outline: none;
    border: none;
    background-color: var(--blue);
    padding: 12px 18px;
    font-size: 1.2rem;

    border-radius: 5px;

    font-weight: 700;
    color: white;
}


.formButton:hover{
    background-color: var(--blueHover);
}

.formButton:active{
    background-color: var(--blueActive);
}


.footer-bottom{
    width: 100vw;
    background-color: #d3d3d3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-weight: lighter;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 20px;

    color: rgba(0, 0, 0, 0.671);
    font-weight: 500;


    text-align: center;
}


.Webspansion{
    border-bottom: 2px solid var(--blue);
    color: var(--blue);
}

































@media (max-width: 1200px){

    .page-1-top h1{
        font-size: 3rem;
    }
    .page-1-top h2{
        font-size: 1.2rem;
    }




    .page-3-more{
        width: 80%;
    }
    .page-3-bottom p{
        width: 60%;
        margin: 0 auto 0 0;
        font-size: 1.3rem;
    }

    .page-3-more h2{
        font-size: 2rem;
    }
}



@media (max-width:768px){
    body{
        overflow-x: hidden !important;
        max-width: 100vw;
        position: relative;
    }

    nav{
        width: 100%;
        padding: 0 40px;
        overflow-x: hidden;
    }

    .navBtn::before, .navBtn{
        display: block;
    }

    .navBtn{
        display: block;
        position: absolute;
        right: 20px;

        cursor: pointer;
        
        transition: all 0.2s ease-in-out;

        opacity: 1;

        font-size: 1.5rem;
        color: white;
    }

    .navBtn.active{
        opacity: 0;
        display: none;
    }

    nav i{
        display: block;
        font-size: 2rem;
        color: white;
    }

        
    .navMobile.active{
        display: flex;
        opacity: 1;
    }

    .navMobile{
        position: absolute;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        gap: 10px;   

        background-color: var(--blueActive);
        padding: 40px;
        border-radius: 10px;


        right: 20px;
        top: 80px;

        z-index: 99;
        opacity: 0;



        transition: opacity 0.5s;
    }



    
    .navMobile a{
        width: 100%;
        text-align: center;
        background-color: var(--blue);
        padding: 10px 50px;
    }

    .navDesktop{
        display: none;
    }




    .supportedBy h3{
        font-size: 1.5rem;
    }

    .supportedByLogo{

        padding: 0px 20px;
        width: 100%;

        justify-content: center;
    }
    .supportedByLogo img{
        scale: 0.6;
        
    }





    .page-1{
        padding: 40px 20px;
    }

    .page-1-top h1{
        font-size: 2.5rem;
    }
    .page-1-top h2{
        font-size: 1.2rem;
        width: 75%;
    }













    .page-3-more{
        width: 85%;
        padding: 50px 30px;
    }
    .page-3-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 50px;
    }

    .page-3-bottom p{
        width: 90%;

    }

    .page-3-more h2{
        width: 100%;
        padding-bottom: 20px;
    }
    .page-3-bottom img{
        width: 200px;
    }












    .page-4-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .pg-4-1{
        border-right: 0px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        padding-bottom: 40px;
    }

    .page-4-bottom .pg-4-1:nth-child(3){
        border-bottom: 0px;
    }
    

    .page-5 h2{
        font-size: 2rem;
    }
    .page-5 a{
        font-size: 1.5rem;
    }
    .page-5{
        padding: 100px 20px;
    }


    .footer-top{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .footerMain{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 50px;

        padding: 20px;
    }


    .sliderContainer{
        width: 90vw;
    }
    
}



@media (max-width: 600px){
    .page-3-bottom p{
        width: 100%;
    }





    .page-2 h2{
        font-size: 2rem;
        padding-bottom: 100px;
    }

    .page-2 h3{
        font-size: 1.5rem;

    }
    .cprDetails{
        scale: 0.9;
    }



    .page-1-btns{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;

        gap: 10px;

        width: 100%;

    }

    .page-1-btns button{
        width: 100%;
    }





    .page-2-inner{
        gap: 25px;
    }

    .page-2-btns{
        width: 100%;
    }

    .page-2-btns a{
        width: 100%;
    }
    .page-2-btns button{
        width: 100%;
    }



    .page-4-container{
        gap: 50px;
    }

    .page-4-bottom-inner{
        gap: 15px;
    }


    .page-4 h2{
        font-size: clamp(2rem, 10vw, 3rem);
    }
    .page-4 h4{
        font-size: clamp(1.5rem, 5vw, 2rem);
    }
    .page-4 p{
        font-size: clamp(1rem, 4vw, 1.2rem);
    }


    .footer-right{
        width: 90vw;
    }

}



@media (max-width: 450px){


    .page-1-top h1{
        font-size: 2rem;
        text-align: left;
    }
    .page-1-top h2{
        font-size: 1rem;
        width: 100%;
        text-align: left;
    }   
    .page-1-bottom{
        width: 100%;
    }
    .page-1-btns{
        scale: 0.8;
        width: 110%;

    }

    .page-1-btns button{
        width: 100%;
    }

    .supportedByLogo img{
        height: 50px;
        align-self: flex-end;
    }


    .cprDetailIndividual p{
        width: 80%;
        text-wrap: wrap;
    } 
    .cprDetailIndividual{
        text-align: left;
    }



    .donate-1, .donate-2{
        scale: 0.8;
    }

    .donate-page{
        gap: 30px;
    }

    .footer-top h2{
        font-size: 1.5rem;
    }

    .footerMain{
        padding: 0;
    }
}


@media (max-width: 350px){


    .supportedByLogo img{
        height: 40px;
        align-self: flex-end;
    }


    .page-2-btns{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 10px;

        width: 100%;
        
    }

    .page-2 h2{
        font-size: 1.6rem;
    }
    .page-2 h3{
        font-size: 1.2rem;
    }




    .signUpBtn{
        width: 100%;
    }

    .donate-1, .donate-2{
        scale: 0.7;
    }
    .donate-page{
        gap: 15px;
    }
}
